.parul {
  background-color: aquamarine;
}
.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.logo {
  width: 200px;
}
.nav-items{
padding: 0px 20px;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
}


.nav-items > ul {
  display: flex;
  /* padding: 0px 20px; */
  font-size: 24px;
  list-style-type: none;
}
.nav-items > ul > li {
  /* font-size: 24px; */
  padding: 10px;
  margin: 10px;
  
}
.res-card {
  width: 200px;
  height: 318px;
  padding: 5px;
  margin-left: 6px;
  margin-top: 12px;

  
}
.filter-btn {
  margin: 10px;
  cursor: pointer;
}
.res-card :hover {
    cursor: pointer;
    border: 1px solid black;
}
.search {
    padding:10px ;
}
 .res-logo {
    width: 75%;
 }

 .shimmer-card {
width: 200px;
height: 400px;
background-color: dimgray;
margin: 10px;
 }
 .shimmer-container {
  display: flex;
  flex-wrap: wrap;
 }

 .login {
  padding: 0 20px;
  cursor: pointer;
  
 }
 .filter {
  display: flex;
 }